*{
    margin: 0;
    padding: 0;
    height: 100%;
}

html, body {
    max-width: 100%;

}

.ignore-css{all:unset;}


/*landing page*/
.container_landing_page{
    background-color: turquoise;
    margin: auto;
    width: 1440px;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to top,white 50%,#77FF61 147%);
}

.container_landing_page_left{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
}

.container_headline_landing_page{
    height: 50%;
    display: flex;
    justify-content: end;
}

.box_landing_page{
    display: flex;
    flex-direction: column;
    width: 90%;
}

.box_landing_page a{
    background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, #77FF61 50%);
    background-position: -0% 0;
    background-size: 200% auto;
    color: #222;
    font-size: 0.9em;
    line-height: 1.15em;
    text-decoration: none;
    transition: background-position 0.5s ease-out;
}

.box_landing_page a:hover{
    background-position: -99.99% 0;
}

.container_headline_landing_page_CRISPR{
    font-family: 'Ubuntu Mono', monospace;
    font-size: 7vw;
}

.container_bullet_points_landing_page{
    font-size: 1.3vw;  
    font-family: 'Ubuntu Mono', monospace;
    display: flex;
    justify-content: end;
    height: 25%;
    padding-top: 5%;
}

li {
    height: 15%;
}

a.underlineH{
    color: inherit;
    position: relative;
}

a.underlineH:before{
    color: inherit;
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #77FF61;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

a.underlineH:hover:before {
    visibility: visible;
    width: 100%;
}

ul {
    list-style-position: inside;
}

.container_bullet_points_landing_page_2{
    width: 90%;
    height: 60%;
}

.container_order_button_landing_page{
    display: flex;
    justify-content: end;
    height: 25%;
}

.container_order_button_landing_page_2{
    text-align: center;
    display: flex;
    justify-content: flex-end;
    width: 90%;
    height: 10%;
}

.button {
    line-height: 0px;
    background-image: linear-gradient(to top,white,#77FF61 147%);
    margin-left: auto;
    /*background-color: #04AA6D;*/
    border: none;
    color: black;
    padding: 20px;
    text-decoration: none;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 16px;
    border-radius: 12px;
    margin: 4px 2px;
    box-shadow: 3px 5px 5px #888888;
    transition: all 1s ease;
}

.button:hover {
    background-color: #000;
  /*  Making button bigger on hover  */
    transform: scale(1.5) perspective(1px)
  }

.container_landing_page_right{
    /*background-color: beige;*/
    width: 40%;
    height: 100%;
    display: flex;

    /*background: url("/assets/dna.png");
    background-size:auto 100%;
    background-position: 100% 100%;*/
}

.container_image_landing_page{
    width:100%;
    /*background-color: red;*/
}

.landing_page_image{
    max-height:100%; 
    max-width:100%;
}

@media screen and (min-width: 1440px) {

    .container_headline_landing_page_CRISPR{
        font-size: 100.8px;
    }

    .container_bullet_points_landing_page{
        font-size: 18.72px;     
    }
}

@media screen and (max-width: 1440px) {
    .container_landing_page{
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    .container_headline_landing_page_CRISPR{
        font-size: 10vw;
    }

    .container_order_button_landing_page{
        display: flex;
        height: 25%;
    }

    .container_order_button_landing_page_2{
        display: flex;
        height: 25%;
        width: 100%;
        justify-content: center;
        align-items:center;/*NEW*/

    }

    .container_bullet_points_landing_page{
        font-size: 3vw;  
    }

    .container_landing_page_left{
        background-repeat: no-repeat;
        background: url("/assets/dna.png");
        background-size:auto 100%;
        background-position: center center;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .container_landing_page_right{
        display: flex;
        flex-direction: column;
        width: 0%;
        height: 100%;
    }

    .landing_page_image{
        display: none;
    }
}

@media screen and (max-width: 579px) {
    

    .container_landing_page_left{

        background-size:auto 70%;
        background-repeat: no-repeat;   
    }

    .container_bullet_points_landing_page{

        font-size: 3vw;

        margin-left: 5%;

    }

    .container_headline_landing_page_CRISPR{
        padding-left: 5%;
        /*vh = % of the viewport hight*/
        font-family: 'Ubuntu Mono', monospace;
        font-size: 13vw;   
        /*background-color: yellowgreen;*/
    }

    .container_order_button_landing_page_2{
        display: flex;        
    }

    .container_order_button_landing_page{
        display: flex;
        height: 25%;
        /*background-color: aquamarine;*/
    }   
}

/*middle page*/
.container_middle_page{
    margin: auto;
    width: 1440px;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.container_middle_page_up{
    background-image: linear-gradient(to top, #F28118 -60%,white);
    height: 50%;
    display: flex;
    justify-content: flex-end;
}

.container_middle_page_text{
    margin-top: 5%;
    font-size: 1.3vw;  
    font-family: 'Ubuntu Mono', monospace;
    padding-right: 5%;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
    height: 100%;
    width: 50%;
    position: relative;
    z-index: 1;
}

.container_middle_page_down{
    display: flex;
    justify-content: flex-end;
    height: 50%;
    background-image: linear-gradient(to bottom, #F28118 -60%,white);
    justify-content: flex-end;
}

.container_middle_page_icons_text{
    padding-right: 5%;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.container_middle_page_icons_text_2{
    height: 33%;
    display: flex;
    flex-direction: column;
    
}

.container_middle_page_icon{
    width: 20%;
    display: flex;
    padding-right: 20%;
}

.container_middle_page_text_small{
    width: 80%;
    text-align: center;
    display: flex;
    align-items: center; /* align vertical */
    font-size: 1.3vw;  
    font-family: 'Ubuntu Mono', monospace;
}

.landing_page_image_2{
    position:absolute;
    height: auto;
    width: 50%;
    margin-top: 5%;
}

@media screen and (max-width: 1440px) {
    .container_middle_page{
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .landing_page_image_2{
        width: 90%;
    }

    .container_middle_page_icons_text{

        height: 100%;
        width: 100%;
        padding-left: 14%;
    }

    .container_middle_page_text{
        font-size: 2vw;  
        width: 100%;
        padding-left: 14%;
        padding-right: 14%;
        
    }

    .container_middle_page_text_small{
        margin-top: 20%;
        font-size: 4vw;  
    }
}


@media screen and (max-width: 550px) {
    .landing_page_image_2{
        width: 110%;
        margin-top: 15%;
    }

    .container_middle_page_icons_text{
        font-size: 3vw;
        height: 100%;
        width: 100%;
        padding-left: 14%;
    }

    .container_middle_page_text{
        font-size: 3vw;  
        width: 100%;
        padding-left: 14%;
        padding-right: 14%;
        
    }

    .container_middle_page_text_small{
        margin-top: 20%;
        font-size: 5vw;  
    }
    
}

/*end page*/
.container_end_page{
    margin: auto;
    width: 1440px;
    height: 100%;
    display: flex;
    float: left;
    flex-direction: column;
    background-image: linear-gradient(to bottom,white 50%,#77FF61 147%);
}

.container_end_page_left_right{
    height: 70%;
    width: 100%;
    display: flex;
}

.container_end_page_left{
    height: 100%;
    width: 50%;
    float: left;
    display: flex;
    flex-direction: column;
}

.container_end_page_right{
    height: 100%;
    width: 50%;
    float: left;
    background: url("/assets/bacteria.png") no-repeat;
    background-size:auto 120%;
    background-position: 100% 60%;
    padding-top: 3%;
}

.container_headline_end_page{
    height: 10%;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 3.5vw;
    text-align: right;
}

.container_headline_end_page a{
    background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, #77FF61 50%);
    background-position: -0% 0;
    background-size: 200% auto;
    color: #222;
    font-size: 0.9em;
    line-height: 1.15em;
    text-decoration: none;
    transition: background-position 0.5s ease-out;
}

.container_headline_end_page a:hover{
    background-position: -99.99% 0;
}

.container_end_page_text{
    width: 100%;
    height: 18%;
    padding-top: 3%;
}

.container_end_page_text_icon{
    width: 20%;
    float: right;
}

.container_end_page_text_text{
    font-family: 'Ubuntu Mono', monospace;
    float: right;
    width: 40%;
    margin-right: 10%;
}

.container_end_page_footer{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container_end_page_footer_icons_text_row{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.container_end_page_footer_icons_text{
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container_end_page_footer_icon{
    width: 100%;
    height: 50%;
    text-align: center;
}

.container_end_page_footer_text{
    width: 100%;
    height: 50%;
    text-align: center;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.2vw;
}

a.underlineH2{
    color: inherit;
    position: relative;
}

a.underlineH2:before{
    color: inherit;
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #77FF61;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

a.underlineH2:hover:before {
    visibility: visible;
    width: 100%;
}

.container_end_page_footer_stripe{
    margin-top: 1%;
    width: 30%;
    height: 30%;
    text-align: center;
}

.container_end_page_footer_end{
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_end_page_privacy{
    width: 10%;
    height: 100%;
    text-align: center;
    font-family: 'Ubuntu Mono', monospace;
    margin-right: 5%;
}

.container_end_page_imprint{
    width: 10%;
    height: 100%;
    text-align: center;
    font-family: 'Ubuntu Mono', monospace;

}

@media screen and (max-width: 1440px) {
    .container_end_page{
        width: 100%;
    }
}

@media screen and (max-width: 1245px) {
    .container_end_page_right{
        width: 40%;
        background-position: right;
        background-size:auto 90%;
        z-index: 3;
        position: relative;
    
    }

    .container_end_page_left{
        width: 60%;
        background-position: right;
    
    }
}

@media screen and (max-width: 1158px) {
    .container_end_page_right{
        width: 40%;
        background-position: right;
        background-size:auto 70%;
        z-index: 3;
        position: relative;
    
    }

    .container_end_page_left{
        width: 65%;
        background-position: right;
    
    }
}

@media screen and (max-width: 901px) {
    .container_end_page{
        width: 100%;
        margin-top: 50%;
    }

    .container_end_page_left{
        width: 100%;
        background: url("/assets/bacteria.png") no-repeat;
        background-size:auto 120%;
        background-position: center center;
        padding-top: 3%;
        align-items: center;
        float: left;
        display: flex;

    }
    
    .container_end_page_right{
        width: 0%;
    }

    .container_end_page_text_icon{
        width: 20%;
        float: right;
    }
    
    .container_end_page_text_text{
        font-family: 'Ubuntu Mono', monospace;
        float: right;
        width: 40%;
        margin-right: 20%;
    }

    .container_headline_end_page{
        height: 10%;
        font-family: 'Ubuntu Mono', monospace;
        font-size: 6vw;
        text-align: right;
    }
}

@media screen and (max-width: 520px) {
    .container_end_page{
        width: 100%;

    }

    .container_end_page_left{
        margin-top: 10%;
        width: 100%;
        background: url("/assets/bacteria.png") no-repeat;
        background-size:auto 80%;
        background-position: center center;
        padding-top: 3%;
        align-items: center;
        float: left;
        display: flex;

    }
    
    .container_end_page_right{
        width: 0%;
    }

    .container_end_page_text_icon{
        width: 20%;
        float: right;
    }
    
    .container_end_page_text_text{
        font-family: 'Ubuntu Mono', monospace;
        float: right;
        width: 50%;
        margin-right: 20%;
        font-size: 3.5vw;
    }

    .container_headline_end_page{
        height: 10%;
        font-family: 'Ubuntu Mono', monospace;
        font-size: 6vw;
        text-align: right;
    }

    .container_end_page_footer_text{
        width: 100%;
        height: 50%;
        text-align: center;
        font-family: 'Ubuntu Mono', monospace;
        font-size: 1.5vw;
    }

    .container_end_page_footer{
        padding-top: 10%;
        height: 20%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .container_end_page{
        width: 100%;
        margin-top: 0%;

    }

    .container_end_page_footer_text{
        font-size: 2.5vw;
    }


}







